@import "../../../styles/variables.scss";

.f-count {
  width: 100%;
  display: flex;
  background: #fff;
  padding: 10px;
  border: 1px solid $border;
  border-top: 0;
  .count {
    &--label {
      line-height: 1.2;
      font-size: 18px;
      float: left;
      width: 100%;
      color: $DimGrey;
      font-weight: $fontWeightRegular;
      margin-right: -100px;
      margin-bottom: 0;
      & small {
        font-size: 13px;
        display: block;
        opacity: 0.6;
      }
    }
    &--number {
      &--input {
        font-size: 18px;
        display: table-cell;
        text-align: center;
        height: 36px;
        width: 36px;
        padding-top: 4px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        border-left: 0;
        border-right: 0;
        vertical-align: middle;
        border-radius: 0 !important;
        box-shadow: none;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      &--button {
        font-size: 18px;
        display: table-cell;
        position: relative;
        background-color: $colorF2;
        border: 1px solid $border;
        width: 30px;
        height: 36px;
        vertical-align: middle;
        outline: none;
        &--icon {
          display: block;
          position: relative;
          width: 13px;
          height: 13px;
          margin: 0 auto;
          line-height: 13px;
          overflow: hidden;
          white-space: nowrap;
          &::before {
            content: "";
            width: 13px;
            height: 1px;
            background: $DimGrey;
            display: inline-block;
            vertical-align: middle;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
          }
          &.plus {
            &::after {
              content: "";
              width: 1px;
              height: 13px;
              background: $DimGrey;
              display: inline-block;
              vertical-align: middle;
              margin: 0 auto;
              position: absolute;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}
