@import "../../styles/variables.scss";

.flight-wrapper {
  margin: 20px auto;

  .fl-input {
    display: flex;
    position: relative;

    &__autocomplete {
      width: 50%;
    }

    &__icon {
      position: absolute;
      top: 24px;
      left: calc(50% - 16px);
    }
  }

  &--button {
    line-height: 1.2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    background-color: #c00;
    color: #fff;
    font-size: 20px;
    font-weight: $fontWeightRegular;
    width: 100%;
    height: 56px;
    &:focus {
      border: 0;
      box-shadow: none;
      outline: 0;
    }
    &:hover {
      background-color: #ad0000;
    }
  }

  .column1,
  .column2,
  .column3,
  .column4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .column1 {
    width: 30%;
  }
  .column2 {
    width: 45%;
  }
  .column3 {
    width: 25%;
  }
  .column4 {
    width: 75%;
  }
  .center-flex {
    align-items: center;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .flight-wrapper {
    margin: 20px auto 0 auto;
    .row {
      flex-direction: column;
      .column1,
      .column2,
      .column3,
      .column4 {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .center-flex {
      margin-top: 0;
    }
  }
}
//.nav-tabs
.nav-tabs {
  border-bottom: 0;
  width: 100%;

  a {
    //width: calc(100% / 5 - 3px);
    text-align: center;
    flex: 1;
  }

  .nav-link {
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 0;
    font-size: 14px;
    padding: 12px 0;
    margin-left: 3px;
    border: 0;

    &.active {
      color: #c00;
      background-color: rgba(255, 255, 255, 0.9);
    }

    &.disabled {
      color: white;
      background-color: rgba(51, 51, 51, 0.9);
    }
    img {
      margin-right: 10px;
    }
  }
}
@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }
}

//input
.fl-input {
  align-items: flex-start;

  .fl-input__autocomplete_from {
    border: 1px solid #cdcdcd;
    border-right: 0;
    padding: 10px;
    z-index: 2;
  }

  .fl-input__autocomplete_to {
    border: 1px solid #cdcdcd;
    padding: 10px 10px 10px 20px;
    border-left: 0;
  }
}

.MuiInput-underline:before {
  border-bottom: 0 !important;
}

.MuiInputLabel-formControl {
  transform: translate(0, 10px) scale(1) !important;
  margin-bottom: 0;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75) !important;
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"]
  .MuiAutocomplete-input:first-child {
  padding: 0 !important;
}

.list-item-brief {
  padding: 1px 3px;
  font-size: 0.7em;
  margin-left: 6px;
  font-weight: 600;
}

.MuiAutocomplete-root .ex-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 8px !important;
}

.MuiAutocomplete-endAdornment {
  display: none;
}

.MuiInput-underline:after {
  border-bottom: 2px solid $DimGrey;
}

.MuiFormLabel-root.Mui-focused {
  color: $DimGrey !important;
}

.MuiInput-underline:after {
  left: -10px !important;
  bottom: -10px !important;
  border: 1px solid $DimGrey !important;
  height: 57px !important;
}

.MuiAutocomplete-option[data-focus="true"] {
  background-color: #cc0000 !important;
  color: white !important;
}

.MuiAutocomplete-option {
  color: #666666 !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.MuiPaper-rounded {
  border-radius: 0 !important;
}

.MuiAutocomplete-listbox {
  margin: 0 !important;
  padding: 0 !important;

  &::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}

.MuiAutocomplete-paper > ul {
  max-height: 60vh !important;
}

.MuiAutocomplete-paper {
  margin: 11px -10px 0 -9px !important;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.fl-input__autocomplete_from {
  .MuiInput-underline:after {
    border-right: dotted 1px $DimGrey !important;
    right: -10px;
    z-index: 0;
  }
}

.fl-input__autocomplete_to {
  .MuiInput-underline:after {
    border-left: dotted 1px $DimGrey !important;
    right: -10px !important;
    left: -20px !important;
  }
}

.fight-icon {
  border-left: dotted 1px #cdcdcd;
  height: 58px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;

  img {
    margin-left: -50%;
    background: white;
    padding: 4px;
    z-index: 3;
  }
}
//List-Advanced
.list-advanced {
  ul {
    list-style: none;
    display: inline-flex;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin-bottom: 0;
    li {
      font-size: 15px;
      font-weight: $fontWeightRegular;
      color: $color66;
      margin-right: 20px;
      &:after {
        content: "";
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: #cc0000;
        border-right: none;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .list-advanced {
    ul {
      flex-direction: column;
    }
  }
}
//DateRangePicker
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: $Red;
  border: 1px double $Red;
}
.CalendarDay__selected_span {
  background: #f8d6d6;
  border: 1px double #f8d6d6;
  color: $DimGrey;
}
.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid $Red;
}
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #f8d6d6;
  border: 1px double #f8d6d6;
  color: $DimGrey;
}
.DateRangePicker {
  width: 100%;
  td {
    padding: 5px 10px;
  }
}
//.DateRangePickerInput
.DateRangePickerInput__withBorder {
  border-radius: 0;
}
.DateInput {
  width: 100%;
}
.DateRangePickerInput {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0;
}
.DateInput_input {
  border: 1px solid $border;
  height: 58px;
  font-size: 16px;
  font-weight: $fontWeightRegular;
  color: $DimGrey;
}
.DateInput_input__focused {
  border: 1px solid $DimGrey;
}
