@import "../../styles/variables.scss";

.flight-wrapper {
  padding: 20px 0;
  //border: solid 1px #d8d8d8;
  margin: 0 auto;

  .fl-input {
    display: flex;
    position: relative;

    &__autocomplete {
      width: 50%;
    }

    &__icon {
      position: absolute;
      top: 24px;
      left: calc(50% - 16px);
    }
  }

  &--button {
    font-weight: 300;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    background-color: $colorF2;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 20px;
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    background-color: #c00;
    color: #fff;
    width: 100%;
    height: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
  }
}

//.nav-tabs
.nav-tabs {
  border-bottom: 0;
  width: 100%;

  a {
    width: calc(100% / 4 - 3px);
    text-align: center;
  }

  .nav-link {
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 0;
    font-size: 14px;
    padding: 12px 0;
    margin-left: 3px;
    border: 0;

    &.active {
      color: #c00;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

//input
.fl-input {
  align-items: flex-start;

  .fl-input__autocomplete_from {
    border: 1px solid #cdcdcd;
    border-right: 0;
    padding: 10px;
    z-index: 2;
  }

  .fl-input__autocomplete_to {
    border: 1px solid #cdcdcd;
    padding: 10px 10px 10px 20px;
    border-left: 0;
  }
}

.MuiInput-underline:before {
  border-bottom: 0 !important;
}

.MuiInputLabel-formControl {
  transform: translate(0, 10px) scale(1) !important;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75) !important;
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"]
  .MuiAutocomplete-input:first-child {
  padding: 0 !important;
}

.list-item-brief {
  padding: 1px 3px;
  font-size: 0.7em;
  margin-left: 6px;
  font-weight: 600;
}

.MuiAutocomplete-root .ex-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 8px !important;
}

.MuiAutocomplete-endAdornment {
  display: none;
}

.MuiInput-underline:after {
  border-bottom: 2px solid $DimGrey;
}

.MuiFormLabel-root.Mui-focused {
  color: $DimGrey !important;
}

.MuiInput-underline:after {
  left: -10px !important;
  bottom: -10px !important;
  border: 1px solid $DimGrey !important;
  height: 57px !important;
}

.MuiAutocomplete-option[data-focus="true"] {
  background-color: #cc0000 !important;
  color: white !important;
}

.MuiAutocomplete-option {
  color: #666666 !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.MuiPaper-rounded {
  border-radius: 0 !important;
}

.MuiAutocomplete-listbox {
  margin: 0 !important;
  padding: 0 !important;

  &::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}

.MuiAutocomplete-paper > ul {
  max-height: 60vh !important;
}

.MuiAutocomplete-paper {
  margin: 11px -10px 0 -9px !important;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.fl-input__autocomplete_from {
  .MuiInput-underline:after {
    border-right: dotted 1px $DimGrey !important;
    right: -10px;
    z-index: 0;
  }
}

.fl-input__autocomplete_to {
  .MuiInput-underline:after {
    border-left: dotted 1px $DimGrey !important;
    right: -10px !important;
    left: -20px !important;
  }
}

.fight-icon {
  border-left: dotted 1px #cdcdcd;
  height: 58px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;

  img {
    margin-left: -50%;
    background: white;
    padding: 4px;
    z-index: 3;
  }
}
