@import '../../styles/variables.scss';

.flight-wrapper {
  padding: 100px 0px;
  margin: 0 auto;
  .fl-input {
    display: flex;
    position: relative;
    &__autocomplete {
      width: 50%;
    }
    &__icon {
      position: absolute;
      top: 24px;
      left: calc(50% - 16px);
    }
  }
}
