@import "../../../styles/variables.scss";

/* The switch - the box around the slider */
.wrapper-toggle {
  width: auto;
  position: absolute;
  left: calc(100% / 2 - 21px);
  top: -9px;

  &--label {
    display: block;
    position: relative;
    letter-spacing: -1ex;
    text-indent: -9999px;
    color: transparent;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    width: 42px;
    height: 28px;
    border-radius: 14px;
    overflow: hidden;
    background-color: #fff;
    will-change: transform;
    margin-bottom: 0;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 14px;
      top: 0;
      left: 0;
      box-shadow: inset 0 0 0 1px #999;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -50%;
      background-color: #c00;
      -ms-transform: translateX(0);
      transform: translateX(0);
      will-change: transform;
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  &--single {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    top: 0;
    left: -1px;
    &::before {
      background: url("../../../images/evo--sprite.png") no-repeat -365px -65px;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 0;
      opacity: 0;
    }
    &::after {
      background: url("../../../images/evo--sprite.png") no-repeat -365px -91px;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 0;
    }
  }
  &--return {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    top: 0;
    right: -1px;
    &::before {
      background: url("../../../images/evo--sprite.png") no-repeat -365px -143px;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 0;
    }
    &::after {
      background: url("../../../images/evo--sprite.png") no-repeat -365px -195px;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 0;
      opacity: 0;
    }
  }

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="checkbox"]:checked ~ label::after {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  input[type="checkbox"]:checked ~ label {
    .wrapper-toggle {
      &--single {
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
      &--return {
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
