// Color system
$white: #ffffff !default;
$black: #000000 !default;
$oranges: #ff5a18 !default;
$blackModel: #212121 !default;
$gray: #a0a0a0 !default;
$lightgray: #a0a0a0 !default;
$graySilver: #f9f9f9 !default;
$amber: #a96d38 !default;
$Azure: #f3f5f5 !default;
$DarkGreen: #35a211 !default;
$Crimson: #d2232a !default;
$DarkGray: #e7e7e7 !default;
$Cyan: #1a5dcd !default;
$LightGray: #dddedf !default;
$DimGrey: #333333 !default;
$Gainsboro: #e4e6e8 !default;
$GhostWhite: #9b9b9b !default;
$LightRed: #ec272f !default;
$DimGray: #444444 !default;
$Gainsboro: #999999 !default;
$blackText: #434343 !default;
$vinBlue: #5bb7db;
$vinGreen: #60b044;
$vinRed: #ff0000;
$Red: #c00;
$border: #cdcdcd;
$colorF2: #f2f2f2;
$color66: #666666;
$DarkRed: #ad0000;
$DarkRed2: #cc0000;
$LightPink: #f8d6d6;
$color75: #757575;

$bg: #f0f0f0 !default;

$blueColor: #2c388f !default;
$orangeColor: #a96d38 !default;
$blue: #182164 !default;
$lightblue: #009ade !default;
$darkblue: #009ade !default;
$blueBg: #141b4d !default;
$silver: #b6bcc1 !default;
// Font system
$font-family-base: "CH-Sans", Helvetica, Arial, sans-serif !default;
$font-size-base: 1rem !default;
$font-size-13: 13px !default;
$font-20: 20px !default;
$font-12: 12px !default;
$font-15: 15px !default;
$font-color-base: #4a4a4a !default;
$font-size-h1: 22px !default;
$font-family-default: "FontAwesome";

//Notification
$colorFav: #2c91d0;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontWeightBlack: 900;
