// Color system
$white: #FFFFFF !default;
$black: #000000 !default;
$oranges: #FF5A18 !default;
$blackModel: #212121 !default;
$gray: #A0A0A0 !default;
$lightgray: #A0A0A0 !default;
$graySilver: #F9F9F9 !default;
$amber: #A96D38 !default;
$Azure: #F3F5F5 !default;
$DarkGreen: #35A211 !default;
$Crimson: #D2232A !default;
$DarkGray: #E7E7E7 !default;
$Cyan: #1A5DCD !default;
$LightGray: #DDDEDF !default;
$DimGrey: #333333 !default;
$Gainsboro: #E4E6E8 !default;
$GhostWhite: #9B9B9B !default;
$red: #EC272F !default;
$DimGray: #444444 !default;
$Gainsboro: #999999 !default;
$blackText: #434343 !default;
$vinBlue: #5bb7db;
$vinGreen: #60b044;
$vinRed: #ff0000;

$bg: #F0F0F0 !default;

$blueColor: #2C388F !default;
$orangeColor: #A96D38 !default;
$blue: #182164 !default;
$lightblue: #009ADE !default;
$darkblue: #009ADE !default;
$blueBg: #141B4D !default;
$silver: #B6BCC1 !default;
// Font system
$font-family-base: 'Roboto' !default;
$font-size-base: 14px !default;
$font-size-13: 13px !default;
$font-20: 20px !default;
$font-12: 12px !default;
$font-15: 15px !default;
$font-color-base: #4A4A4A !default;
$font-size-h1: 22px !default;
$font-family-default: 'FontAwesome';

//Notification
$colorFav: #2C91D0;

$fontWeightThin: 100;
$fontWeightXLight: 200;
$fontWeightLight: 300;
$fontWeightReguler: 500;
$fontWeightBold: 700;
$fontWeightExBold: 800;
$fontWeightBlack: 900;