//search-box
.booking-bar {
    background-color: white;
    border: solid 1px #d8d8d8;
    margin: 20px auto;
    max-width: 1200px;
    //min-width: 768px;
  }
  @media only screen and (max-width: 767px) {
    .booking-bar {
      max-width: 767px;
      min-width: 0;
      margin: 0;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1200px !important;
    }
  }